<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <DirectoryRef Id="APPROORMENUFOLDER">
       <!--
	   TODDO:
	   - Change Directory ref to match current Directory settings
	   - Chnage Component GUID, ID, Name, Target and WorkingDirectory
	   -->
		<Component Id="cmpmenu00000000000000000000000000000000000000000" Guid="{00000000-0000-0000-0000-000000000000}">
			<Condition><![CDATA[SHRTCT="TRUE"]]></Condition>
			<Shortcut Id="cmpshrtct00000000000000000000000000000000000000000" Name="!(loc.ShortcutName)"
					 Target="[APPLICATIONFOLDER]blahblahblah.pdf"
					 WorkingDirectory="APPLICATIONFOLDER">
				<ShortcutProperty Key="{C9944A21-A406-48FE-8225-AEC7E24C211B}, 8" Value="prop:~System.ItemNameDisplay;System.Author;System.LayoutPattern.Placeholder;System.Keywords;System.DateModified;~System.Size" />
				<ShortcutProperty Key="{C9944A21-A406-48FE-8225-AEC7E24C211B}, 13" Value="prop:~System.ItemNameDisplay;System.Author;System.LayoutPattern.Placeholder;System.Keywords;System.DateModified;~System.Size" />
				<ShortcutProperty Key="{C9944A21-A406-48FE-8225-AEC7E24C211B}, 14" Value="prop:~System.ItemNameDisplay;System.Author;System.LayoutPattern.Placeholder;System.Keywords;System.DateModified;~System.Size" />
				<ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 8" Value="1" />
			</Shortcut>
		</Component>
	
    </DirectoryRef>
      
  </Fragment>
</Wix>