<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<ComponentGroup Id="NewProductComponents" Directory="INSTALLFOLDER">

			 <Component Id="CMP_MyWindowsService" Guid="3D3DE5C1-7154-4c61-9816-248A85F6DEBF">
        <File Id="MyWindowsService.exe" KeyPath="yes" Source="C:\Users\deekshith.bc\source\repos\WindowsService\bin\Debug\WindowsService.exe" />

        <ServiceInstall
              Id="InstallWindowsService"
              Name="testsvc"
              DisplayName="Test Service"
              Description="Test service for WiX"
              Start="auto"
              ErrorControl="normal"
              Type="ownProcess" />

        <ServiceControl
              Id="InstallWindowsService"
              Name="testsvc"
              Start="install"
              Stop="both"
              Remove="uninstall"
              Wait="no" />
				 
				<ServiceConfig ServiceName="testsvc" DelayedAutoStart="yes" OnInstall="yes"
							   
							   OnReinstall="yes"/>

			 </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
